{{error}}

<div class="container shadow-lg p-3 mb- bg-white rounded">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form class="form-horizontal" method="post">
          <fieldset>
              <div class="col-12   ">
                  <span class="d-block p-2 bg-primary text-white text-center " >Listado de emociones</span>
              </div>
            <div class="row">
              <div class="form-group">
                  <div class="col-md-10">
                    <br>
                    <label for="nombre"><a href="#" class="badge badge-pill badge-primary">Primero indicanos tu nombre</a></label>
                    <input type="text"  maxlength="25" class="form-control" name="nombre" id="nombre" value="{{datos.nombre}}" placeholder="Nombre">
                  </div>
                    <br>
                  <div class="col-md-9">
                    <label for="estado"><a href="#" class="badge badge-pill badge-primary">¿Como te sentís respecto a la programacion?</a></label>
                    <select class="form-control" name="estado" id="estado" value={{datos.estado}}>
                      
                      <option class="d-none" value="{{datos.estado}}">{{datos.estado}}</option>
                      <option value="feliz">Feliz</option>
                      <option value="infeliz">Infeliz</option>
                      <option value="regular">Regular</option>
                    </select>
                  </div>
                </div>  
              </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
              <div class="col-12">
                <label for="mensaje"><a href="#" class="badge badge-pill badge-primary">Podrías desahogarte un poco mas abajo.</a></label>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <div>
                    <textarea class="form-control" id="mensaje" maxlength="55 " name="mensaje" placeholder="¿Como te sentís?" rows="2">{{datos.mensaje}}</textarea>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-md">Enviar</button>
                </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>